<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/css/.css">
    <link rel="stylesheet" href="/static/css/pa.css">
    <link rel="stylesheet" href="/static/css/tender.css">
    <link rel="stylesheet" href="/static/css/offer.css">
    <script src="/static/js/pa.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <div class="logo-icon">Т</div>
                <div class="logo-text">
                    <h1>Портал коммерческих закупок</h1>
                    <p>Официальная площадка для проведения торгов</p>
                </div>
            </div>
            <button class="account-btn" id="accountrevokebtn">
                <i class="fas fa-user-circle btn-icon"></i>
                Выйти
            </button>
        </div>
    </header>
        <div class="register-modal" id="userModal">
        <div class="register-overlay" id="registerOverlay"></div>
        <div class="register-container">
            <div class="register-header">
                <h2>Добавление нового сотрудника</h2>
                <button class="register-close" id="userClose" onclick="UserformClose()">&times;</button>
            </div>
        
            <form class="register-form" id="userForm">
                   
                <div class="form-section">
                
                    <div class="form-group">
                        <label for="userLogin" class="form-label">
                            <i class="fas fa-user-circle"></i> Логин *
                        </label>
                        <input 
                            type="text" 
                            id="userLogin" 
                            name="userLogin"
                            class="form-input"
                            placeholder="Придумайте уникальный логин"
                            required
                            pattern="[A-Za-z0-9_]{3,30}"
                            maxlength="30">
                        <div class="form-hint">Только латинские буквы, цифры и нижнее подчёркивание</div>
                    </div>
                
                    <div class="form-group">
                        <label for="userName" class="form-label">
                            <i class="fas fa-user"></i> ФИО пользователя *
                        </label>
                        <input 
                            type="text" 
                            id="userName" 
                            name="userName"
                            class="form-input"
                            placeholder="Введите ваше имя"
                            required
                            pattern="[A-Za-zА-Яа-я_]{3,30}"
                            maxlength="30">
                    </div>
                
                    <div class="form-group">
                        <label for="userEmail" class="form-label">
                            <i class="fas fa-envelope"></i> Личный email *
                        </label>
                        <input 
                            type="email" 
                            id="userEmail" 
                            name="userEmail"
                            class="form-input"
                            placeholder="your.email@example.com"
                            required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">
                            Пароль *
                        </label>
                        <input 
                            type="password"  
                            name="password"
                            class="form-input"
                            placeholder="12345678"
                            required
                            minlength="8"
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="enterypassword" class="form-label">
                            Повторение пароля *
                        </label>
                        <input 
                            type="password"  
                            name="enterypassword"
                            class="form-input"
                            placeholder="12345678"
                            required
                            minlength="8"
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label  class="form-label">
                            Должность *
                        </label>
                        {{if .Roles}}
                        <select name="role" required>
                            {{range .Roles}}
                            <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>
                        {{else}}
                            <select name="role" required></select>
                            <span>Вы пока не создали не одной должности, создайте должность и возвращайтесь</span>
                        {{end}}
                    </div>
                    <button type="submit" class="register-submit" id="userSubmit" style="margin: 1%;">
                        Сохранить
                    </button>
                    <button type="button" class="register-submit" id="userbackbtn" style="margin: 1%;" onclick="UserformClose()">
                        Отмена
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="register-modal" id="editModal">
        <div class="register-overlay" id="registerOverlay"></div>
        <div class="register-container">
            <div class="register-header">
                <h2>Редактирование личных данных</h2>
                <button class="register-close" id="editClose">&times;</button>
            </div>
        
            <form class="register-form" id="editForm">
                <!-- Секция компании -->
                <div class="form-section">
                    <h3 class="section-title">
                        <i class="fas fa-building"></i> Данные {{.Company.Name}}
                    </h3>
                            <input 
                            type="hidden" 
                            id="companyId" 
                            name="companyId"
                            value="{{.Company.ID}}">
                            <input 
                            type="hidden" 
                            id="userId" 
                            name="userId"
                            value="{{.User.ID}}">
                    <div class="form-group">
                        <label for="companyName" class="form-label">
                            <i class="fas fa-signature"></i> Название компании *
                        </label>
                        <input 
                            type="text" 
                            id="companyName" 
                            name="companyName"
                            class="form-input"
                            placeholder="Введите название компании"
                            required
                            maxlength="100"
                            value="{{.Company.Name}}">
                        <div class="form-hint">Максимум 100 символов</div>
                    </div>
                
                    <div class="form-group">
                        <label for="companyEmail" class="form-label">
                            <i class="fas fa-envelope"></i> Email компании *
                        </label>
                        <input 
                            type="email" 
                            id="companyEmail" 
                            name="companyEmail"
                            class="form-input"
                            placeholder="example@company.com"
                            required
                            maxlength="50"
                            value="{{.Company.Email}}">
                    </div>
                
                    <div class="form-group">
                        <label for="companyAddress" class="form-label">
                            <i class="fas fa-map-marker-alt"></i> Юридический адрес *
                        </label>
                        <input 
                            type="text" 
                            id="companyAddress" 
                            name="companyAddress"
                            class="form-input"
                            placeholder="Введите полный адрес компании"
                            required
                            maxlength="100"
                            value="{{.Company.Address}}">
                    </div>
                
                    <div class="form-row">
                        <div class="form-group half">
                            <label for="companyINN" class="form-label">
                                <i class="fas fa-file-contract"></i> ИНН *
                            </label>
                            <input 
                                type="text" 
                                id="companyINN" 
                                name="companyINN"
                                class="form-input"
                                placeholder="10 или 12 цифр"
                                required
                                pattern="\d{10}|\d{12}"
                                maxlength="12"
                                value="{{.Company.INN}}">
                        </div>
                    
                        <div class="form-group half">
                            <label for="companyEGRUL" class="form-label">
                                <i class="fas fa-file-alt"></i> ЕГРЮЛ *
                            </label>
                            <input 
                                type="text" 
                                id="companyEGRUL" 
                                name="companyEGRUL"
                                class="form-input"
                                placeholder="Номер записи"
                                pattern="\d{13}"
                                required
                                maxlength="13"
                                value="{{.Company.EGRUL}}">
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="companyDescription" class="form-label">
                            <i class="fas fa-file-signature"></i> Описание компании
                        </label>
                        <textarea 
                            id="companyDescription" 
                            name="companyDescription"
                            class="form-textarea"
                            placeholder="Краткое описание деятельности компании (до 500 символов)"
                            rows="3"
                            maxlength="500"
                            >{{.Company.Description}}</textarea>
                    </div>
                </div>
            
                <!-- Секция пользователя -->
                <div class="form-section">
                    <h3 class="section-title">
                        <i class="fas fa-user"></i> Данные {{.User.Name}}
                    </h3>
                
                    <div class="form-group">
                        <label for="userLogin" class="form-label">
                            <i class="fas fa-user-circle"></i> Логин *
                        </label>
                        <input 
                            type="text" 
                            id="userLogin" 
                            name="userLogin"
                            class="form-input"
                            placeholder="Придумайте уникальный логин"
                            required
                            pattern="[A-Za-z0-9_]{3,30}"
                            maxlength="30"
                            value="{{.User.Login}}">
                        <div class="form-hint">Только латинские буквы, цифры и нижнее подчёркивание</div>
                    </div>
                
                    <div class="form-group">
                        <label for="userName" class="form-label">
                            <i class="fas fa-user"></i> ФИО пользователя *
                        </label>
                        <input 
                            type="text" 
                            id="userName" 
                            name="userName"
                            class="form-input"
                            placeholder="Введите ваше имя"
                            required
                            pattern="[A-Za-zА-Яа-я_]{3,30}"
                            maxlength="30"
                            value="{{.User.Name}}">
                    </div>
                
                    <div class="form-group">
                        <label for="userEmail" class="form-label">
                            <i class="fas fa-envelope"></i> Личный email *
                        </label>
                        <input 
                            type="email" 
                            id="userEmail" 
                            name="userEmail"
                            class="form-input"
                            placeholder="your.email@example.com"
                            required
                            maxlength="50"
                            value="{{.User.Email}}">
                    </div>
                
                    <button type="submit" class="register-submit" id="editSubmit" style="margin: 1%;">
                        Сохранить
                    </button>
                    <button type="button" class="register-submit" id="editbackbtn" style="margin: 1%;">
                        Отмена
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="register-modal" id="roleCreateModal">
        <div class="register-overlay" id="registerOverlay"></div>
        <div class="register-container">
            <div class="register-header">
                <h2>Создание должности</h2>
                <button class="register-close" id="roleCreateClose" onclick="RoleformClose()">&times;</button>
            </div>
        
            <form class="register-form" id="roleCreateForm">
                
                <div class="form-section">

                    <div class="form-group">
                        <label for="name" class="form-label">
                            Название
                        </label>
                        <input 
                            type="text" 
                            id="nameRole" 
                            name="name"
                            class="form-input"
                            placeholder="старший менеджер"
                            required
                            maxlength="50">
                    </div>
                    <div class="form-group">
                        <label  class="form-label">
                            Права
                        </label>
                        {{if .Rights}}
                            <div style="display: flex; flex-direction: column;">
                                {{range .Rights}}
                                    <label>
                                        <input 
                                        type="checkbox" 
                                        id="nameRole" 
                                        name="rights"
                                        value="{{.ID}}">
                                        {{.RusName}}
                                    </label>
                                {{end}}
                            </div>
                        {{else}}
                            <span>к сожалению права отключены или вы столкнулись с ошибкой подгрузки</span>
                        {{end}}
                        
                    </div>
                    <button type="submit" class="register-submit" id="roleCreateSubmit" style="margin: 1%;">
                        Сохранить
                    </button>
                    <button type="button" class="register-submit" id="roleCreatebackbtn" style="margin: 1%;" onclick="RoleformClose()">
                        Отмена
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    <nav>
        <div class="nav-container">
            <ul class="nav-menu">
                <li><a href="/main"><i class="fas fa-home"></i> Главная</a></li>
                <li><a href="/main/tenders"><i class="fas fa-gavel"></i> Активные тендеры</a></li>
                <li><a href="/main/tenders/completed"><i class="fas fa-archive"></i> Архив торгов</a></li>
                <li><a href="/main/companies"><i class="fas fa-building"></i> Наши партнеры</a></li>
                <li><a href="#"><i class="fas fa-book"></i> Документация</a></li>
                <li><a href="#"><i class="fas fa-question-circle"></i> Помощь</a></li>
                <li><a href="#"><i class="fas fa-phone-alt"></i> Контакты</a></li>
            </ul>
        </div>
    </nav>
    <nav>
        <div class="nav-container">
            <ul class="nav-menu">
                <li><a href="/protected/lk/tenders"><i class="fas fa-list-ul"></i> Мои тендеры</a></li>
                <li><a href="/protected/lk/offers"><i class="fas fa-file-pen"></i> Мои Коммерческие предложения</a></li>
                <li><a href="/protected/lk/await/tenders"><i class="fas fa-hourglass-half"></i> Ожидают выбора</a></li>
                <li><a href="/protected/lk/await/tenders"><i class="fas fa-hourglass-half"></i> Сотрудники</a></li>
                <li><a href="/protected/lk/roles"><i class="fas fa-hourglass-half"></i> Должности</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="content-container">
            <h2 class="content-title">Личный кабинет</h2>
            <div class="content-main">
                <div class="content-group">
                    <div class="content-column">
                        <div class="content-block">
                            <div class="content-item">
                                <h1>Компания</h1>
                            </div>
                        </div>
                        <div class="content-block">
                            <div class="content-item">
                                <h3>Компания:</h3>
                                <h3>Эл.почта:</h3>
                                <h3>ИНН:</h3>
                                <h3>ЕГРЮЛ:</h3>
                                <h3>Адресс:</h3>
                                <h3>Описание:</h3>
                            </div>
                            <div class="content-item">
                                <h3>{{.Company.Name}}</h3>
                                <h3>{{.Company.Email}}</h3>
                                <h3>{{.Company.INN}}</h3>
                                <h3>{{.Company.EGRUL}}</h3>
                                <h3>{{.Company.Address}}</h3>
                                <h3 class="descr">{{.Company.Description}}</h3>
                            </div>                 
                        </div>
                    </div>
                    <div class="content-column">
                        <div class="content-block">
                            <div class="content-item">
                                <h1>Пользователь</h1>
                            </div>     
                        </div>         
                        <div class="content-block">
                            <div class="content-item">
                                <h3>Логин: </h3>
                                <h3>ФИО: </h3>
                                <h3>Эл.почта: </h3>
                                <h3> Должность: </h3>
                            </div>
                            <div class="content-item">
                                <h3>{{.User.Login}}</h3>
                                <h3>{{.User.Name}}</h3>
                                <h3>{{.User.Email}}</h3>
                                <h3>{{.Role.Name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-group">
                    <div class="content-column">
                        <div class="content-block">
                            <div class="content-item">
                                <h1>Прикрепленные документы</h1>
                            </div>
                        </div>
                        <div class="content-block">
                            <div class="content-item">
                                <div class="file-list" id="file-list">
                                    {{if .Files}}
                                        {{range .Files}}
                                            <div class="file-list-item">
                                                <span>
                                                    <i class="fas fa-file"></i> 
                                                    {{.Name}}
                                                </span>
                                                <a href="/protected/companies/documents/{{.ID}}">
                                                    <span> Скачать </span>
                                                </a>            
                                            </div>
                                        {{end}}
                                        <a href="/protected/companies/{{.Company.ID}}/documents">
                                            <span> Скачать архивом</span>
                                        </a>
                                    {{else}}
                                        <span>Нет прикрепленных документов</span>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-group">
                    <button class="btn" id="editbtn">Редактировать</button>
                    <button class="btn" id="editfilesbtn" onclick="DocsEdit()">Редактировать документы</button>
                    <button class="btn" id="createrolebtn" onclick="RoleformShow()">Создать должность</button>
                    <button class="btn" id="adduserbtn" onclick="UserformShow()">Добавить сотрудника</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>О портале</h3>
                <ul class="footer-links">
                    <li><a href="/main#about"><i class="fas fa-info-circle"></i> О нас</a></li>
                    <li><a href="/main#laws"><i class="fas fa-balance-scale"></i> Правовая информация</a></li>
                    <li><a href="/main#security"><i class="fas fa-shield-alt"></i> Безопасность</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h3>Участникам</h3>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-user-plus"></i> Регистрация</a></li>
                    <li><a href="#"><i class="fas fa-file-signature"></i> Как подать заявку</a></li>
                    <li><a href="#"><i class="fas fa-comments-dollar"></i> Финансовое обеспечение</a></li>
                    <li><a href="#"><i class="fas fa-question"></i> Частые вопросы</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h3>Контакты</h3>
                <div class="footer-contact">
                    <p><i class="fas fa-phone"></i> 8-800-xxx-xx-xx</p>
                    <p><i class="fas fa-envelope"></i> support@tender-portal.ru</p>
                    <p><i class="fas fa-map-marker-alt"></i> Москва, ул. Тендерная, д. 1</p>
                    <p><i class="fas fa-clock"></i> Пн-Пт: 9:00-18:00</p>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>© IP Kolobov, 2026 Портал коммерческих закупок. Все права защищены.</p>
        </div>
    </footer>
    <script>
        async function DocsEdit() {
                    const resp = await fetch("/protected/companies/{{.Company.ID}}/docs/edit");
                    if(!resp.ok){
                        if(resp.status == 403){
                            await Refresh()
                            await DocsEdit()
                        }
                         alert("Ошибка:"+await response.text())
                        return
                    } 
                    
                
                    window.location.href = "/protected/companies/{{.Company.ID}}/docs/edit";
        }

        async function Refresh(){
            await fetch("/auth/refresh");
        }
        async function RoleformShow(){
            const response = await fetch('/protected/lk/company/role/create', {
            method: 'POST'
            });
            if (response.status === 409){
                alert("Ошибка:"+await response.text())
                return
            }
            document.getElementById('roleCreateModal').classList.add("show")
        }
        function RoleformClose(){
            document.getElementById('roleCreateModal').classList.remove("show")
        }
        async function UserformShow(){
            const response = await fetch('/protected/lk/company/user/create', {
            method: 'POST'
            });
            if (response.status === 409){
                alert("Ошибка:"+await response.text())
                return
            }
            document.getElementById('userModal').classList.add("show")
        }
        function UserformClose(){
            document.getElementById('userModal').classList.remove("show")
        }
        document.getElementById('userForm').addEventListener('submit', async function(event) {

        event.preventDefault()
        const formData = new FormData(this);
  
        const response = await fetch('/protected/lk/company/user/create', {
            method: 'POST',
            body: formData
        });
        if (response.ok){
            alert("Пользователь успешно создана!")
            window.location.href = "/protected/lk"
            UserformClose()
            return
        }else{
            alert("Ошибка:"+await response.text())
        }
        UserformShow()
    });
    </script>
</body>
</html>