<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тендеры</title>
    <link rel="stylesheet" href="/static/css/.css">
    <link rel="stylesheet" href="/static/css/tender.css">
    <script src="/static/js/main.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <div class="logo-icon">Т</div>
                <div class="logo-text">
                    <h1>Портал коммерческих закупок</h1>
                    <p>Официальная площадка для проведения торгов</p>
                </div>
            </div>
            <button class="account-btn" id="accountBtn">
                <i class="fas fa-user-circle btn-icon"></i>
                Личный кабинет
            </button>
        </div>
    </header>
    {{.LoginForm}}
    {{.RegistrationForm}}
    <nav>
        <div class="nav-container">
            <ul class="nav-menu">
                <li><a href="/main"><i class="fas fa-home"></i> Главная</a></li>
                <li><a href="/main/tenders" class="active"><i class="fas fa-gavel"></i> Активные тендеры</a></li>
                <li><a href="/main/tenders/completed"><i class="fas fa-archive"></i> Архив торгов</a></li>
                <li><a href="/main/companies"><i class="fas fa-building"></i> Наши партнеры</a></li>
                <li><a href="#"><i class="fas fa-book"></i> Документация</a></li>
                <li><a href="#"><i class="fas fa-question-circle"></i> Помощь</a></li>
                <li><a href="#"><i class="fas fa-phone-alt"></i> Контакты</a></li>
            </ul>
        </div>
    </nav>
 
    <main>
        <div class="content-container">
            <h2 class="content-title">Должности компании {{.Company.Name}}</h2>
            <div class="content-body">
                

                {{if .Roles}}
                    <div class="tenders-list" id="tendersList">
        <!-- Карточка тендера (шаблон) -->
        {{range .Roles}}
        <div class="tender-card">
            <div class="tender-header">
                <h3 class="tender-title">{{.Name}}</h3>
            </div>
            <p class="tender-description">
                    Права:
                </p>
            {{if .Rights}}
                {{range .Rights}}
                <p class="tender-description">
                    {{.RusName}}
                </p>
                {{end}}
            {{else}}
                <p class="tender-description">
                    У этой должности не назначенно ни одного права
                </p>
            {{end}}
           
            
            <div class="tender-footer">
                <span class="tender-id">{{.ID}}</span>
                <button class="tender-btn" onclick="DeleteRole({{.ID}})">
                    Удалить
                </button>
                <button class="tender-btn" onclick="window.location.href = '/protected/lk/roles/{{.ID}}/edit'">
                    Редактировать <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>{{end}}
                    </div>
                    {{else}}
                    <div class="tenders-list" id="tendersList">
                        <span>Пока что нет должностей</span>
                    </div>
                    {{end}}
                </div>

        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>О портале</h3>
                <ul class="footer-links">
                    <li><a href="/main#about"><i class="fas fa-info-circle"></i> О нас</a></li>
                    <li><a href="/main#laws"><i class="fas fa-balance-scale"></i> Правовая информация</a></li>
                    <li><a href="/main#security"><i class="fas fa-shield-alt"></i> Безопасность</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h3>Участникам</h3>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-user-plus"></i> Регистрация</a></li>
                    <li><a href="#"><i class="fas fa-file-signature"></i> Как подать заявку</a></li>
                    <li><a href="#"><i class="fas fa-comments-dollar"></i> Финансовое обеспечение</a></li>
                    <li><a href="#"><i class="fas fa-question"></i> Частые вопросы</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h3>Контакты</h3>
                <div class="footer-contact">
                    <p><i class="fas fa-phone"></i> 8-800-xxx-xx-xx</p>
                    <p><i class="fas fa-envelope"></i> support@tender-portal.ru</p>
                    <p><i class="fas fa-map-marker-alt"></i> Москва, ул. Тендерная, д. 1</p>
                    <p><i class="fas fa-clock"></i> Пн-Пт: 9:00-18:00</p>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>© IP Kolobov, 2026 Портал коммерческих закупок. Все права защищены.</p>
        </div>
    </footer>
    <script>
        async function DeleteRole(id){
    
            const response = await fetch('/protected/lk/roles/'+ id, {
                method: 'DELETE',
            });
            if (response.ok){
                alert("Должность успешно удалена!;\nНе забудьте переназначить должности пользователям у которых была данная должность")
                window.location.href = "/protected/lk/roles"
                return
            }else{
                alert("Ошибка: "+await response.text())
            }
        }
    </script>
</body>
</html>