.content-item {
    text-align: left;
    margin: 1%;
    min-width: 0; 
    width: 100%;
}
.content-block {
    display: flex;       
    flex-direction: row;    
    align-items: top;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    height: 100%;
    width: 100%;
    min-width: 0; 
}
.content-column {
    display: flex;       
    flex-direction: column;    
    align-items: top;
    margin: 1%;
    padding: 1%;
    height: 100%;
    width: 100%;
    min-width: 0; 
}
.content-group {
    display: flex;       
    flex-direction: row;    
    align-items: center;
    margin: 1%;
    height: 100%;
    width: 75%;
}
@media( max-width:1000px){
    .content-group {
    display: flex;       
    flex-direction: column;    
    align-items: top;
    }
}
.content-main {
    display: flex;       
    flex-direction: column;    
    align-items: center;
    font: 0.75rem;
    padding: 4%;
    height: 100%;
    width: 100%;
}
.descr {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
    width: 100%;
    white-space: normal;
}